.button-bar {
  margin-top: 15px;
  width: 100%;

  .btn {
    margin-left: 50px;
    margin-right: 50px;
    width: 250px;
    height: 30px;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 17px;
    font-weight: 700;

    &:hover {
      box-shadow: 0 0 10px 1px #888888;
    }

    &.disabled {
      opacity: 0.2;
      cursor: none;
    }

    &.prev-btn {
      background-color: white;
      color: #F25276;
      float: left;
    }

    &.next-btn {
      background-color: white;
      color: #F25276;
      float: right !important;
    }
  }
}
